@model IList<string>
@{
    ViewData["Title"] = "Cart";
}

<div class="d-flex flex-column align-items-bottom">
    <!-- Fixed Top Section -->
    <div class="parent-container d-flex align-items-center row px-3 pt-4" style="height:130px;">
        @if (Model.Count() >= 4)
        {
            <span class="px-1 fw-bold col-7 p-2 display-3 h-100 d-flex align-items-center justify-content-center text-light">Cart is full!</span>
        }
        else
        {
            <a asp-action="Shop" asp-controller="Home" type="button" class="btn btn-success rounded-3 px-1 fw-bold col-5 p-2 fs-1 h-100 d-flex align-items-center justify-content-center">Keep Shopping</a>

        }
         <a asp-action="Scan" asp-controller="Home" type="button" class="btn btn-success rounded-3 px-1 text-light fw-bold col-5 p-2 fs-1 h-100 d-flex align-items-center ms-auto justify-content-center">Check Out</a>
    </div>
    <!-- Main Content Area -->
    <!-- We add padding to the body to prevent content overlap -->
    <div class="flex-grow-1 d-flex flex-column-reverse m-2 display-1 fw-bold text-light border-bottom border-2" style="height:500px;">
        @foreach(var item in Model)
        {
            <div class="m-2 p-3 row border-top border-2">
                <div class="col-10 p-2">@item</div>
                <div class="col-2">
                    <a class="text-danger text-decoration-none" asp-action="Remove" asp-controller="Home" asp-route-id="@item">X</a>
                </div>
            </div>
        }
    </div>

    <!-- Fixed Bottom Section -->
    <div class="row px-3 ms-1 fixed-bottom d-flex align-items-center" style="padding-right:20px;">
        <a asp-action="Index" asp-controller="Home" type="button" class="btn btn-danger rounded-3 p-2 fw-bold col-6 fs-1">Cancel Sale</a>
        <div class="col-3 ms-auto text-light position-relative">
            <a asp-action="Cart" asp-controller="Home" asp-route-id="" class="text-decoration-none text-light">
                <i class="bi bi-cart4" style="font-size: 100px;"></i>
                <span id="itemBadge" class="position-absolute top-50 start-50 translate-middle badge rounded-pill bg-danger fs-1">
                    @Model.Count()
                </span>
            </a>
        </div>
    </div>
</div>
