@model IList<string>
@{
    ViewData["Title"] = "Dispense";
}
<div class="text-center">
    <h1 class="pulse-text m-5">Dispensing...</h1>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="text-center h-100">
            <div class="spinner-border spinner-border-lg" role="status" style="width: 12rem; height: 12rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="row px-3 ms-1 fixed-bottom d-flex align-items-center" style="padding-right:20px;">
    <a asp-action="Index" asp-controller="Home" type="button" class="btn btn-danger rounded-3 p-2 fw-bold col-6 fs-1">Cancel Sale</a>
    <div class="col-3 ms-auto text-light position-relative">
        <a asp-action="Cart" asp-controller="Home" class="text-decoration-none text-light">
            <i class="bi bi-cart4" style="font-size: 100px;"></i>
            <span id="itemBadge" class="position-absolute top-50 start-50 translate-middle badge rounded-pill bg-danger fs-1">
                @Model.Count()
            </span>
        </a>
    </div>
</div>
